body {
    margin: 0;padding: 0;
}

#map {
    position: absolute;
    top: 100px;
    /* height: 100%; */
    bottom: 0;
    width: 100%;
    background-color: #ffffff
}

/*
.panelTopIzquierda {
    position: absolute;
    top: 110px;
    left: 10px;
    width: 180px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 16px;
    color: #4eb464;
    border-radius: 5px;
}

.panelTopIzquierda label{
    font-size:0.85em;
}

.panelTopIzquierda input[type=range]{
    cursor:pointer;
    width: 95%;
}*/
/*
.panelTopDerecha {
    position: absolute;
    top: 110px;
    right: 50px;
    width: 140px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 15px;
    color: #4eb464;
    border-radius: 5px;
}

.panelTopDerecha label{
    font-size:0.85em;
}

.panelTopDerecha input[type=range]{
    cursor:pointer;
    width: 95%;
}
*/

/*
.panelTitulo{

    position: absolute;
    top: 5px;
    left: 45%;
    z-index: 5;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    opacity: 0.9;
    font-size: 22px;

}*/

/*MENÚS LATERALES DESPLEGABLES (CATEGORÍAS) */

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 300px;
    
    height: 100%;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
    transform: translateX(-295px);
}

.right.collapsed {
    transform: translateX(295px);
}